@import 'reset';

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

@mixin icon($size) {
    color: #fff;
    font-size: $size;
}

.navigation {
    z-index: 16;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #5575e0;
    box-shadow: 0 3px 5px #142250;
    overflow: hidden;

    .nav-main-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 24px;
        color: #fff;

        h2 {
            font-size: 20px;
            text-shadow: 0 2px 2px #324faf;
        }

        .burger {
            @include icon(1.8em);
        }

        .main-logo {
            @include icon(2.5em);
        }
    }

    #trigger {
        display: none;

        &:checked+.nav-links {
            display: none;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;
        flex-direction: column;

        .link {
            width: 100%;
            padding: 16px;

            .link_a {
                text-decoration: none;
                color: #fff;
                font-size: 22px;
                font-weight: 500;
                text-shadow: 0 2px 2px #324faf;
            }

            &:last-child {
                margin-bottom: 16px;
            }

            &:hover {
                background-color: #324faf;
            }
        }
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #cddfff;
}

.main_img {
    height: 251px;

    img {
        width: 100%;
    }
}

.main-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .main_heading {
        margin: 10px 0;
        color: rgb(39, 39, 39);
        text-shadow: 4px 4px 2px rgb(124, 56, 0);
    }
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
        z-index: 1;
        width: 80%;
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0px 0px 12px rgb(87, 87, 87);
        border: rgb(78, 78, 78) 1px solid;
        position: relative;
        height: 475px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:first-child {
            margin-top: 20px;
        }

        .sale {
            border-radius: 20px;
            background-color: rgb(158, 0, 0);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -20px;
            left: -20px;
            color: white;
            font-weight: bold;
        }

        .img_tablet {
            height: 250px;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            padding: 16px 0px;

            img {
                height: 100%;
                width: 100%;
                padding: 16px;

            }
        }

        .img_phone {
            height: 250px;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            padding: 16px 0px;

            img {
                height: 100%;

            }
        }

        .content {
            padding: 16px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            left: 0px;

            h4 {
                color: #002dcf;
            }

            .price {
                display: flex;
                flex-wrap: wrap;

                h4 {
                    color: rgb(109, 109, 109);
                    text-decoration: line-through;
                    font-weight: inherit;
                    margin-right: 12px;
                    margin-top: 8px;
                }

                h2 {
                    margin-top: 8px;
                    color: rgb(21, 122, 21);
                }
            }
        }
    }
}

.footer-nav {
    margin-top: 20px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 16px;
}

.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%;
    background-color: #002dcf;
}

@media only screen and (min-width: 991px) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #5575e0;
        box-shadow: 0 3px 5px #142250;
        padding: 0 24px;

        .nav-main-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 24px;
            color: #fff;

            h2 {
                font-size: 20px;
                text-shadow: 0 2px 2px #324faf;
            }

            .burger {
                display: none;
            }

            .main-logo {
                @include icon(2.5em);
                margin-right: 24px;
            }
        }

        #trigger {
            display: none;

            &:checked+.nav-links {
                display: flex;
            }
        }

        .nav-links {
            display: flex;
            align-items: stretch;
            flex-direction: row;

            .link {
                display: flex;
                align-content: stretch;
                width: 120px;
                padding: 0;

                .link_a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    text-decoration: none;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 500;
                    text-shadow: 0 2px 2px #324faf;

                    &:hover {
                        background-color: #324faf;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    background-color: initial;
                }
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        .card {
            width: 25%;
            margin: 16px;
        }
    }

}

@media only screen and (min-width: 700px) and (max-width:990px) {
    .navigation {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        background-color: #5575e0;
        box-shadow: 0 3px 5px #142250;
        padding: 0 24px;

        .nav-main-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 24px;
            color: #fff;

            h2 {
                font-size: 20px;
                text-shadow: 0 2px 2px #324faf;
            }

            .burger {
                display: none;
            }

            .main-logo {
                @include icon(2.5em);
                margin-right: 24px;
            }
        }

        #trigger {
            display: none;

            &:checked+.nav-links {
                display: flex;
            }
        }

        .nav-links {
            display: flex;
            align-items: stretch;
            flex-direction: row;

            .link {
                display: flex;
                align-content: stretch;
                width: 120px;
                padding: 0;

                .link_a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    text-decoration: none;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 500;
                    text-shadow: 0 2px 2px #324faf;

                    &:hover {
                        background-color: #324faf;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    background-color: initial;
                }
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        .card {
            width: 45%;
            margin: 16px;
        }
    }

}