.box {
    width: 200px;
    height: 200px;
    background-color: #bbb;
}

.box:hover {
    animation: rotation 2s infinite linear;
    transition: 1s rotation;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-90deg);
    }
}